<%- include("templates/header") %>
    <main>
        <div>
            <form action="/forgotPassword" method="post">

                <h1>Forgot Password</h1>
                <p>Enter your email and we'll send your id to your email.</p>

                <!-- Email Input -->
                <div>
                    <input name="email" type="email" id="email" placeholder="name@example.com">
                </div>

                <!-- Error Message Display -->
                <% if (msg && msg.type==='error' ) { %>
                    <p>
                        <%= msg.text %>
                    </p>
                    <% } %>
                        <!-- Success Message Display -->
                        <% if (msg && msg.type==='success' ) { %>
                            <p>
                                <%= msg.text %>
                            </p>
                            <% } %>
                                <!-- Submit Button -->
                                <button type="submit">Send Email</button>
            </form>
        </div>
    </main>

    <%- include("templates/footer") %>