<!-- Sign Up Page Elements -->
<%- include("templates/header") %>

    <!-- Login Page CSS -->
    <link rel="stylesheet" href="/css/box.css">
    </head>

    <body>
        <%- include("templates/navbar") %>

            <h2>INBOX</h2>
            <div class="message-box">
                <p class="message">Summary of February Student Insurance Usage and Preventive Care
                    Recommendations</p>
                <p class="message">We trust this message finds you in good health. As part of our commitment to
                    your well-being, we are pleased to provide
                    you with a summary of your insurance usage from last month, along with recommendations for
                    preventive care based on your
                    unused benefits.<br><br>

                    Summary of Last Month's Insurance Usage:<br>
                    We have reviewed your insurance usage for the past month and are pleased to inform you about the
                    remaining balance of your insurance benefits. This overview will help you understand your current
                    coverage status and
                    plan your healthcare needs accordingly.<br><br>

                    [Remaining Insurance Benefits]<br>
                    Psychologist: $400<br>
                    Physiotherapy: $400<br>
                    Ambulance: $250<br>
                    Chiropractor: $400<br>
                    Travel: $5000000<br>
                    Dental: $992<br>
                    Vision: $100<br>
                    Prescription Drug: $868<br><br>

                    Preventive Care Recommendations:<br>
                    Based on the benefits that were not utilized last month, we recommend the following preventive care
                    measures to help you
                    maintain your health and well-being:<br><br>

                    Annual Physical Examination: A comprehensive physical exam can assess your overall health status and
                    detect any
                    underlying medical conditions early on.
                    Dental Cleaning and Check-up: Regular dental cleanings and check-ups can prevent dental problems
                    such as cavities and
                    gum disease.
                    Vision Screening: Schedule a vision screening to ensure optimal eye health and detect any vision
                    problems.
                    Immunizations: Stay up-to-date on recommended vaccinations to protect yourself against preventable
                    diseases.
                    Health Screenings: Consider scheduling screenings for cholesterol, blood pressure, and other health
                    indicators to
                    monitor your health status.
                    Please do not hesitate to contact us if you have any questions or would like to schedule an
                    appointment for any of the
                    recommended preventive care measures.

                    Thank you for entrusting us with your healthcare needs. We remain dedicated to supporting your
                    health and well-being.

                    Warm regards</p>
            </div>


            <%- include("templates/footer") %>