<!-- Sign Up Page Elements -->
<%- include("templates/header") %>

    <!-- Login Page CSS -->
    <link rel="stylesheet" href="/css/box.css">
    </head>

    <body>
        <%- include("templates/navbar") %>

            <h2>INBOX</h2>
            <div class="message-box">
                <p class="message">Subject: Lorem ipsum dolor sit amet</p>
                <p class="message">Message: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>


            <%- include("templates/footer") %>