<%- include("templates/header") %>
    <style>
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        label {
            margin-bottom: 5px;
        }

        input,
        button {
            margin-bottom: 10px;
        }

        div {
            padding: 50px;
        }
    </style>
    log in
    <div>
        <form action='/loggingin' method='post'>
            <label for="user_name">user name</label>
            <input name='user_name' type='text' placeholder='username'>

            <label for="password">password</label>
            <input name='password' type='password' placeholder='password'>
            <button>Submit</button>
        </form>
    </div>
    <%- include("templates/footer") %>