<%- include("templates/header") %>
    <main class="container my-4">
        <div>
            <h1>Reset password for <%= email %>
            </h1>
            <form action='' method='post'>
                <div>
                    <label for="newPassword">New Password:</label>
                    <input type="password" name="newPassword" id="newPassword" required>
                </div>
                <button type="submit">Reset Password</button>
            </form>
        </div>
    </main>
    <%- include("templates/header") %>