.message-box {
  width: 90%;
  max-width: 800px;
  /* height: 120px; */
  margin: 20px auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  /* 상대적 위치 지정 */
  z-index: 1;
  background-color: var(--accent2);
  border-radius: 10px;
}

.message {
  width: 95%;
  text-align: center;
  margin-bottom: 0.5em;
  color: var(--accent5);
  background-color: var(--accent2);
}

h2 {
  color: var(--accent1);
  text-align: center;
  z-index: 1;
  margin-top: 100px;
  margin-bottom: 0.5em;
}