:root {

  --accent1: #7A71E4;
  --accent2: #c3c0e1;
  --accent3: #b0afb3;
  --accent4: #F0F0F0;
  --accent5: #fdfdfd;

  --btnradius: 50px;
  --radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--accent5);
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  background-color: var(--accent1);
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  width: 100vw;
  --btnradius: 50px;
  z-index: 1;
}

.header_offset {
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
}

li,
a {
  font-weight: 500;
  font-size: 16px;
  color: var(--accent5);
  text-decoration: none;
  background-color: transparent;
}

button {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 25px;
  padding-right: 25px;
  color: var(--accent1);
  background-color: var(--accent5);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  color: var(--accent4);
  background-color: var(--accent2);
}


.logo_img {
  max-height: 46px;
  background-color: transparent;
  margin-right: 10px;
}

.logo {
  display: flex;
  align-items: center;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px !important;
  color: var(--accent4);
}

#click {
  display: none;
  background-color: transparent;
}

.nav_li {
  list-style: none;
  background-color: transparent;
}

.nav_li li {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav_li li a {
  transition: all 0.3s ease 0s;
}

.nav_li li a:hover,
.active {
  color: var(--accent2);
}

i {
  background-color: transparent;
}

.menu-btn {
  color: var(--accent4);
  display: none;
  cursor: pointer;
  padding-left: 10px;
}

@media (max-width: 1250px) {
  .nav_li {
    position: fixed;
    top: 60px;
    left: -100%;
    background-color: #242a24;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
  }

  .logout_btn {
    display: inline-flex;
    position: fixed;
    bottom: 80px;
    width: 100vw;
    left: +100;
    justify-content: center;
    transition: all 0.3s ease;
  }

  .menu-btn {
    display: inline-block;
    background-color: transparent;
  }

  #click:not(:checked)~.nav_li {
    left: +100%;
  }

  #click:not(:checked)~.logout_btn {
    left: +100%;
  }

  #click:checked~.nav_li {
    left: 0%;
  }

  #click:checked~.logout_btn {
    left: 0%;
  }

  #click:checked~.menu-btn i:before {
    content: "\f00d";
  }

  .nav_li li {
    display: block;
    margin-top: 40px;
  }
}

#chart {
  position: relative;
  top: calc(10px + 10px + 56px);
  width: 100vw;
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}


svg {
  display: block;
  margin: auto
}

.chart_label {
  font-weight: 500;
  font-size: 16px;
  fill: var(--accent1)
}

.bar1 {
  fill: var(--accent2);

}

.bar2 {
  fill: var(--accent4);
}