        <!-- Include jQuery and Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            window.onload = function () {
                var menu = document.getElementById('menu');

                function toggleMenu() {
                    menu.classList.toggle('open');
                }

                window.onclick = function (event) {
                    if (!menu.contains(event.target) && menu.classList.contains('open')) {
                        toggleMenu();
                    }
                }
            }
        </script>
    </body>
</html>