<header>
    <p class="logo" onclick="window.location.href='/'"><img class="logo_img" src="/images/logo.png"
            alt="EduHealth">EduHealth</p>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
    </label>

    <ul class="nav_li">
        <li><a class="active" href="/profile">Profile</a></li>
        <% if (school_name) { %>
            <li><a href="#">
                    <%= school_name %>
                </a></li>
            <% } %>
                <!-- <li><a href="#">Plan #2</a></li> -->
                <li><a href="/inbox">Inbox</a></li>
                <li><a href="#"><button onclick="window.location.href='/submitClaim'"><i
                                class="fa-solid fa-plus"></i></button></a></li>
    </ul>

    <a class="logout_btn" href="/logout"><button>Log Out</button></a>
</header>
<div class="header_offset">offset</div>